{% load static %}
<style>
    .header{
        background: #323232;
        padding: 10px;
        margin-bottom : 10px; 
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    }
    .header_user{
        float: right;
    }
    .header_user ul li{
        display: inline;
        padding: 0px 20px;
        color: white;
    }
    .header_user a{
        text-decoration: none;
        color: white;
    }
    
    .header_user{
        margin-top: 10px;
    }
</style>
<div class="header">
    <span class="header_logo">
        <img src="{% static 'img/logo.png' %}"/>
    </span>
    <span class="header_user">
        <ul>
            <li>
                <i class="fa fa-user"></i>
                {% if request.session.full_name %}
                    {{request.session.full_name}}
                {% else %}
                    User
                {% endif %}
            </li>
            <li><a href="/user/logout"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </span>
</div>