{% load static %}
<html>
    <head>
        <title>Building Blocks</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css"rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}" />
        <link type="text/css"rel="stylesheet"  href="{% static 'css/dashboard.css' %}" />
        <link type="text/css"rel="stylesheet"  href="{% static 'css/all.css' %}" />        
    </head>
    <body>     
        {% include "_header.html" %}
        
        <div class="row col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="profile-status">
                    <div class="profile-head">
                        <span>COMPLETE YOUR PROFILE! </span>
                        <span>EARN $1</span>
                    </div>
                    <div class="profile-progress">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{profile_complete_percentage|floatformat:0}}" aria-valuemin="0" aria-valuemax="100" style="width:{{profile_complete_percentage|floatformat:0}}%">
                                <span class="sr-only">{{profile_complete_percentage|floatformat:0}}% Complete</span>
                            </div>
                        </div>
                        <div>Progress {{profile_complete_percentage|floatformat:0}}%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="feature_box">
                    <div class="feature_header">
                        <div class="feature_head">
                            <img src="{{feature.0.logo}}" />
                        </div>
                        <div class="feature_title">
                            {{feature.0.title}}
                        </div>
                    </div>
                    <div class="feature_img" style="background-image:url({{feature.0.background_image}})" aria-hidden="true"></div>
                    <div class="feature_footer">
                        <div class="feature_title">{{feature.0.description}}</div>
                        <button type="button" class="_1k50kuxo" aria-busy="false" data-veloute="hero-view-photos-button">
                            <span class="_iiprhvv"><span>Learn More</span></span>
                        </button>
                    </div>
                </div>
                <h4>Available Opportunities</h4>
                <div class="row">
                    {% for prod in opportunities %}
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="feature_box">
                            <div class="feature_header">
                                <div class="feature_head">
                                    {{prod.name}}
                                </div>
                                <div class="feature_title">
                                    {{prod.title}}
                                </div>
                            </div>
                            <div class="feature_img" style="background-image:url({{prod.background_image}})" aria-hidden="true"></div>
                            <div class="feature_footer">
                                <button type="button" class="_1k50kuxo" aria-busy="false" data-veloute="hero-view-photos-button">
                                    <span class="_iiprhvv"><span>Learn More</span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
