{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Log-in</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" type="text/css" />
    </head>

    <body>

        <div class="login-card">
            <h1>Log-in</h1><br>
            <form action="user/login" method="post">
                {% if msg %}
                    <div class="error">{{msg}}</div>
                {% endif %}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" name="login" class="login login-submit" value="login">
            </form>
        </div>
    </body>

</html>