.feature_img {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    height: 368px !important;
}

.feature_header{
    position: absolute;
    top: 5px;
    left: 50px;
}

.feature_title{
    color: #FFFFFF !important;
    font-size: 25px !important;
    line-height: 56px !important;
    letter-spacing: -0.8px !important;
}

._iiprhvv {
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    color: inherit !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
}

._1k50kuxo {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition-property: background, border-color, color !important;
    -moz-transition-property: background, border-color, color !important;
    transition-property: background, border-color, color !important;
    -webkit-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
    -webkit-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important;
    width: auto !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-weight: 600 !important;
    border-width: 1px !important;
    border-style: solid !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    min-width: 51.77708763999664px !important;
    box-shadow: none !important;
    background: #ffffff !important;
    border-color: transparent !important;
    color: #484848 !important;
}
.feature_footer{
    position: relative;
    bottom: 100px;
    left: 50px;
    width: fit-content;
}
.feature_head{
    font-size: 40px;
}

.profile-status{
    margin: 42px;
    background: #323232;
    color: wheat;
    padding: 10px 25px;
}
.feature_box{
    max-height: 400px;
}
.feature_head{
    color : white;
}
.progress{
    height: 7px;
}
.progress-bar{
    background: #3479B6 !important;
}
.feature_head img{
    max-height: 80px;
    max-width: 80px;
}
.row{
    margin: 0px ;
}